*~
\#*\#
anaconda-mode
auto-save-list
backup
elpa
eshell/history
eshell/lastdir
my-packages
request
server
url
bookmarks
projectile-bookmarks.eld
projectile.cache
eshell/*
games/*
smex-items
eww-bookmarks
.emacs.desktop
.emacs.desktop.lock
custom.el
transient/*
.mc-lists.el
org-persist/*
history
projects