*~
\#*\#
*python*
*ipynb_checkpoints*
ac-comphist.dat
network-security.data
/anaconda-mode
/auto-save-list
/backup
/elpa
/eshell/history
/eshell/lastdir
/my-packages
/request
/server
/snippets
/url
